*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}

#container{
    display: flex;
    flex-direction: column;
   
}
/*---------------TOPBAR-----------------*/

header{
    background-color: #121212;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 54px;
    position: fixed;
}

header img{
    padding: 1rem;
    height: 38px;
    width: 86px;

}

header i{
    color: #fff;
    font-size: 1.6rem;
    margin: 1rem;
    cursor: pointer;
    display: block;
    
}
@media screen and (max-width: 768px){
    
    header{
        justify-content: space-between;
    }

   

}

@media screen and (min-width: 768px){
    header i{
        display: none!important;
    }
    #sobre{
        flex-direction: row!important;
        flex-wrap: wrap;
        height: 370px!important;
        justify-content: center;
        
    }
    #sobre img{
        margin: 35px 0 0 20px !important;
        
    }
    main{
        background-size: 54%!important;
        background-position:right 10%  center;
    }
    #menudesk{
        display: block!important;
    }
}

#menudesk{
   display: none;
   
}

#menudesk ul{
    display: flex;
    flex-direction: row;
    
    

}

#menudesk ul li{
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
}


/*----------Menu-Mobile---------*/
#menumb{
    position: absolute;
    background-color: #121212;
    width: 95%;
    height: 100vh;
    margin-left: 5%;
    display: none;

}

#options{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#options ul{
    margin: 26px;
}
#options ul li{
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    color: white;
    margin-top: 16px;
    outline: none;
    cursor: pointer;

}
#options ul li:hover, #options button:hover, #log a:hover, #redes a i:hover{
    color: #1ED760;
}


#options button{
    width: 40px;
    height: 40px;
    border: 0;
    background: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 8px;
    cursor: pointer;
}

#log{
    display: flex;
    flex-direction: column;
    margin: 26px;
    
}


#log a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    font-size: 1.5rem;
    text-decoration: none;
    color: #e2d7d7;
    margin-top: 17px;

}

#log img{
    margin: 45% 0 0 0;
    height: 27px;
    width: 100px;
    cursor: pointer;

}




/*---------------MAIN-----------------*/


main{
    display: flex;
    flex-direction: column;
    background-image: url(https://www.scdn.co/i/home/lieVariants/bursts-mobile.svg);
    background-size: 130%;
    background-position: top 40% center;
    height: 610px;
    background-color: #2D46B9;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #1ED760;
    font-size: 2.8rem;
    text-align: center;

}


main p{
    font-size: 1rem;
    font-weight: 100;
    color: #1ED760;
    padding: 1.6rem;
    text-align: center;


}

main button{
    border: 0;
    background-color: #1ED760;
    color: #2D46B9;
    letter-spacing: 1.3px;
    font-weight: 400;
    height: 50px;
    width: 270px;
    border-radius: 30px;

}

/*---------------SOBRE-----------------*/

#sobre{
    height: 800px;
    background-color: #121212;
    display: flex;
    flex-direction: column;

}

#sobre img{
    width: 85px;
    height: 45px;
    margin: 8px 0 8px 20px;
}

.list{
    padding: 0;
    margin: 50px 0 0 20px;

}

.list h2{
    color: #d3caca8e;
    font-size: 0.8rem;
    
}
.item-list{
    color: #fff;
    list-style: none;
    padding-top: 20px;
    font-size: 0.9rem;
    width: 200px;
}

.item-list:hover{
    color: #1ED760;
    cursor: pointer;
}

/*---------------FOOTER-----------------*/

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template:     
    "footer footer footer cop";
    margin: 0;
    
}
/*---------------FOOTER-Redes-----------------*/
#redes{
    background-color: #121212;
    display: flex;
    grid-area: redes;

}
#redes a{
    padding: 0.3rem;
    text-decoration: none;
}
#redes a i{
    background-color: #222326;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 25px 0 0 10px;
    
}

/*----------------Menu-Fotter-----------------*/
#menu-footer{
    background-color: #121212;
    grid-area: footer;
    display: flex;
    flex-wrap: 	wrap;
}

#menu-footer a{
    color: #919496;
    font-size: 0.6rem;
    margin: 10px;
    list-style: none;
    text-decoration: none;

}




/*-----------------FOOTER-Cop-----------------*/
#cop{
    background-color: #121212;
    grid-area: cop;
    display: flex;
    justify-content: flex-end;
    padding: 3px;


}
#cop img{
    height: 18px;
    
}
#cop a{
    font-size: 0.6rem;
    margin: 4px;
    list-style: none;
    text-decoration: none;
    color: #919496;
}
